<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    {# page-specific primary meta-tags #}
    {% block meta %}{% endblock %}

    <!-- page-specific Open Graph / Facebook -->
    {% block og_meta %}{% endblock %}
    
    <!-- page-specific Twitter -->
    {% block twitter_meta %}{% endblock %}

    <!-- essential comment for gulp to minify and put css into dist folder: -->
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/main.css">
    <!--endbuild-->

    {# get the google fonts #}
    {# <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet"> #}
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">

    {# favicon package via https://realfavicongenerator.net #}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon_package/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_package/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_package/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon_package/site.webmanifest">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body id="{{ body_id }}">
  <body class="{{ body_class }}">

    {% include "partials/_sidenav.njk" %}

    <div class="menu-button">
      <i class="burger icon-menu"></i>
      <i class="arrow icon-arrow-left2"></i>
    </div>
    
    <div class="page">

      {% block content %}{% endblock %}

    </div><!-- #page -->

    <!--build:js js/main.min.js -->
    <script src="js/lib/jquery-2.1.0.min.js"></script>
    <script src="js/daMenu.js"></script>
    <script src="js/userTabbing.js"></script>
    <script src="js/lib/jquery.fancybox.js"></script>
    <script src="js/daFancybox.js"></script>
    <!-- endbuild -->

    {% block js %}{% endblock %}

  </body>
</html>