<!DOCTYPE html>

<html lang="en">
  <head>
    <title>John Hosking</title>
    <meta name="description" content="Artist portfolio website">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- essential comment for gulp to minify and put css into dist folder: -->
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/main.css">
    <!--endbuild-->

    {# get the google fonts #}
    {# <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet"> #}
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">

    {# get the icon font #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> 

    {# favicon #}
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">

  </head>

  <body id="{{ body_id }}">

    {% include "partials/_sidenav.njk" %}

    {% include "partials/_header.njk" %}
    
    <div class="page">

      {% block content %}{% endblock %}

    </div><!-- #page -->

    <!--build:js js/main.min.js -->
    <script src="js/lib/jquery-2.1.0.min.js"></script>
    <script src="js/daMenu.js"></script>
    <!-- endbuild -->

    {% block js %}{% endblock %}

  </body>
</html>