<div class="sidenav"> 

  <nav>
    <h1 class="site-branding"><a href="index.html">John Hosking</a></h1>
    <ul>
      <li class="nav-painting submenu-trigger" aria-haspopup="true"><a href="#">Painting</a>
        <ul class="submenu" aria-label="submenu">
          <li class="nav-allotment"><a href="allotment.html">Allotment</a></li>
          <li class="nav-folkestone"><a href="folkestone.html">Folkestone</a></li>
          <li class="nav-sandgate"><a href="sandgate.html">Sandgate</a></li>
          <li class="nav-martello"><a href="martello.html">Martello Towers</a></li>
          <li class="nav-kent"><a href="kent.html">Kent</a></li>
          <li class="nav-france"><a href="france.html">France</a></li>
        </ul>
      </li>
      <li class="nav-printmaking"><a href="printmaking.html">Printmaking</a></li>
      <li class="nav-bio"><a href="biography.html">Biography</a></li>
      <li class="nav-contact"><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

  <div class="credits">

    <p class="copyright">&copy; 2018 John Hosking</a></p>
    <p class="website">Website by <a href="https://www.danaddison.co.uk">Dan Addison</a></p>

  </div><!-- .credits -->

  {# <div class="social-icons">
    <a href="https://github.com/DanAddison" target="_blank"><i class="fab fa-github-square"></i></a>
    <a href="https://www.linkedin.com/in/danaddison/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div> #}

</div>