.painting,
.printmaking {

  figure {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: $spacing;

    figcaption {
      display: none;
    }
  }
  
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s ease;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}