{% set body_id = "painting" %}


{% extends "layout.njk" %}

{% block content %}

  <div class="painting">

    <div class="row row--pad">

      <div class="row__coltouching">

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy_paintings/abstract1.jpg">
              <figcaption>Reps</figcaption>
              <img src="images/dummy_paintings/abstract1.jpg" alt="Reps">
              <p class="image__info">Reps<br>2007 Oil on canvas</p>
            </a>
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy_paintings/abstract2.jpg">
              <figcaption>Title</figcaption>
              <img src="images/dummy_paintings/thumbs/abstract2.jpg" alt="Reps">
              <p class="image__info">Reps [detail]<br>2007 Oil on canvas</p>
            </a>  
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy_paintings/abstract3.jpg">
              <figcaption>Another One</figcaption>
              <img src="images/dummy_paintings/thumbs/abstract3.jpg" alt="Reps">
              <p class="image__info">Reps Again [detail]<br>2008 Oil on canvas</p>
            </a>
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy_paintings/abstract4.jpg">
              <figcaption>Yeah No Doubt</figcaption>
              <img src="images/dummy_paintings/thumbs/abstract4.jpg" alt="Reps">
              <p class="image__info">Reps [detail]<br>2010 Acrylic on canvas</p>
            </a>
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy_paintings/abstract5.jpg">
              <figcaption>Example Work</figcaption>
              <img src="images/dummy_paintings/thumbs/abstract5.jpg" alt="Reps">
              <p class="image__info">Reps [detail]<br>2007 Oil on canvas</p>
            </a>
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy_paintings/abstract6.jpg">
              <figcaption>Untitled</figcaption>
              <img src="images/dummy_paintings/thumbs/abstract6.jpg" alt="Reps">
              <p class="image__info">Reps [detail]<br>2007 Oil on canvas</p>
            </a>
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy_paintings/abstract7.jpg">
              <figcaption>Getting Jiggy</figcaption>
              <img src="images/dummy_paintings/thumbs/abstract7.jpg" alt="Reps">
              <p class="image__info">Reps [detail]<br>2007 Oil on canvas</p>
            </a>
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy_paintings/abstract8.jpg">
              <figcaption>Getting Jiggy</figcaption>
              <img src="images/dummy_paintings/thumbs/abstract8.jpg" alt="Reps">
              <p class="image__info">Reps [detail]<br>2007 Oil on canvas</p>
            </a>
          </figure>
        </div>

      </div><!-- .row__coltouching -->

    </div><!-- .row .row--pad -->

  </div><!-- .painting -->

{% endblock %}