{% set body_id = "painting" %}


{% extends "layout.njk" %}

{% block content %}

  <div class="painting">

    <div class="row row--pad">

      <div class="row__colspaced">

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps75.jpg"><img src="images/dummyThumbs/MiniReps75.jpg" alt="Reps"><figcaption><p class="figure__title">Reps</p><p class="figure__info">2007 Oil on canvas</p></figcaption></a>
          </figure>
        </div>
        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps83.jpg"><img src="images/dummyThumbs/MiniReps83.jpg" alt="Reps"><figcaption><p class="figure__title">Reps [detail]</p><p class="figure__info">2007 Oil on canvas</p></figcaption></a>
          </figure>
        </div>
        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps84.jpg"><img src="images/dummyThumbs/MiniReps84.jpg" alt="Reps"><figcaption><p class="figure__title">Reps Again [detail]</p><p class="figure__info">2008 Oil on canvas</p></figcaption></a>
          </figure>
        </div>
        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps91.jpg"><img src="images/dummyThumbs/MiniReps91.jpg" alt="Reps"><figcaption><p class="figure__title">Reps [detail]</p><p class="figure__info">2010 Acrylic on canvas</p></figcaption></a>
          </figure>
        </div>
        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps93.jpg"><img src="images/dummyThumbs/MiniReps93.jpg" alt="Reps"><figcaption><p class="figure__title">Reps [detail]</p><p class="figure__info">2007 Oil on canvas</p></figcaption></a>
          </figure>
        </div>
        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps95.jpg"><img src="images/dummyThumbs/MiniReps95.jpg" alt="Reps"><figcaption><p class="figure__title">Reps [detail]</p><p class="figure__info">2007 Oil on canvas</p></figcaption></a>
          </figure>
        </div>
        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps97.jpg"><img src="images/dummyThumbs/MiniReps97.jpg" alt="Reps"><figcaption><p class="figure__title">Reps [detail]</p><p class="figure__info">2007 Oil on canvas</p></figcaption></a>
          </figure>
        </div>

      </div><!-- .row__coltouching -->

    </div><!-- .row .row--pad -->

  </div><!-- .painting -->

{% endblock %}