{% set body_id = "painting" %}


{% extends "layout.njk" %}

{% block content %}

  <div class="painting">

    <div class="row row--pad">

      <div class="row__colspaced">

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps75.jpg">
              <figcaption>Reps</figcaption>
              <img src="images/dummyThumbs/MiniReps75.jpg" alt="Reps">
              <p class="image__info">Reps<br>2007 Oil on canvas</p>
            </a>
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps83.jpg">
              <figcaption>Title</figcaption>
              <img src="images/dummyThumbs/MiniReps83.jpg" alt="Reps">
              <p class="image__info">Reps [detail]<br>2007 Oil on canvas</p>
            </a>  
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps84.jpg">
              <figcaption>Another One</figcaption>
              <img src="images/dummyThumbs/MiniReps84.jpg" alt="Reps">
              <p class="image__info">Reps Again [detail]<br>2008 Oil on canvas</p>
            </a>
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps91.jpg">
              <figcaption>Yeah No Doubt</figcaption>
              <img src="images/dummyThumbs/MiniReps91.jpg" alt="Reps">
              <p class="image__info">Reps [detail]<br>2010 Acrylic on canvas</p>
            </a>
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps93.jpg">
              <figcaption>Example Work</figcaption>
              <img src="images/dummyThumbs/MiniReps93.jpg" alt="Reps">
              <p class="image__info">Reps [detail]<br>2007 Oil on canvas</p>
            </a>
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps95.jpg">
              <figcaption>Untitled</figcaption>
              <img src="images/dummyThumbs/MiniReps95.jpg" alt="Reps">
              <p class="image__info">Reps [detail]<br>2007 Oil on canvas</p>
            </a>
          </figure>
        </div>

        <div class="span4-2 span6-2">
          <figure>
            <a data-fancybox="gallery" href="images/dummy/Reps97.jpg">
              <figcaption>Getting Jiggy</figcaption>
              <img src="images/dummyThumbs/MiniReps97.jpg" alt="Reps">
              <p class="image__info">Reps [detail]<br>2007 Oil on canvas</p>
            </a>
          </figure>
        </div>

      </div><!-- .row__coltouching -->

    </div><!-- .row .row--pad -->

  </div><!-- .painting -->

{% endblock %}