.biography {

  @include mq($bp-menu) {
    padding: 0 $spacing;
  }

  .intro {
    max-width: $bp-m;
  }

  .year {
    float: left;
    width: 100px;
  }

  .items {
    float: left;
    margin-bottom: $spacing/2;
    width: calc(100% - 100px);
  }
}