.contact {
  @extend %cf;
  display: block;
  text-align: center;
  padding: 3rem 2rem;

  .wrapper {

    @include mq($bp-m) {
      padding: 3rem 5rem;
      max-width: $bp-l;
    }
  }
    
  .portrait {
    float: left;
    width: 100%;

    img {
      width: 500px;
      max-width: 100%;
      height: auto;
      
    }

    @include mq($bp-m) {
      width: 50%;
      padding: 2rem 1rem 3rem;
    }
  }
}


