{% set body_id = "allotment" %}
{% set body_class = "gallery-page painting-childpage" %}
{% extends "layout.njk" %}

{% from "macros/_artwork-macro.njk" import artwork %}
{% from "macros/_header-macro.njk" import title %}

{% block content %}

  {{ title (
  page_title= 'Allotment'
  ) }}

  <main class="allotment">

    <div class="row row--pad">

      <div class="row__coltouching">

        {{ artwork (
        'Life & Death',
        'Oils',
        'assets/images/Painting/Allotment/Life_&_Death.jpg',
        'assets/images/Painting/Allotment/Life_&_Death-thumb.jpg',
        'Panel 1 of 2 of the artist and family in allotment'
        ) }}

        {{ artwork (
        'Time & Space',
        'Oils',
        'assets/images/Painting/Allotment/Time_&_Space.jpg',
        'assets/images/Painting/Allotment/Time_&_Space-thumb.jpg',
        'Panel 2 of 2 of the artist and family in allotment'
        ) }}

        {{ artwork (
        'Candide',
        '100cm x 100cm',
        'assets/images/Painting/Allotment/Candide_100x100.jpg',
        'assets/images/Painting/Allotment/Candide_100x100-thumb.jpg',
        'Oil painting of vibrant allotment scene including dog'
        ) }}

        {{ artwork (
        'Gateway',
        '51cm x 41cm',
        'assets/images/Painting/Allotment/Gateway_51x41.jpg',
        'assets/images/Painting/Allotment/Gateway_51x41-thumb.jpg',
        'Oil painting of allotment steps and gate'
        ) }}

        {{ artwork (
        artwork_title= 'Allotment Music',
        artwork_info= '30cm x 80cm',
        path_to_image= 'assets/images/Painting/Allotment/Allotment_music_30x80.jpg',
        path_to_thumb= 'assets/images/Painting/Allotment/Allotment_music_30x80-thumb.jpg',
        alt= 'Oil painting of old compact discs hanging in an allotment'
        ) }}

        {{ artwork (
        'Allotment Spring Leeks',
        '25cm x 50cm',
        'assets/images/Painting/Allotment/Allotment_Spring_leeks_25x50.jpg',
        'assets/images/Painting/Allotment/Allotment_Spring_leeks_25x50-thumb.jpg',
        'Oil painting of leeks growing in allotment'
        ) }}

        {{ artwork (
        'Autumn Allotment',
        '23cm x 30cm',
        'assets/images/Painting/Allotment/Autumn_Allotment_23x30.jpg',
        'assets/images/Painting/Allotment/Autumn_Allotment_23x30-thumb.jpg',
        'Oil painting of autumnal allotment scene'
        ) }}

        {{ artwork (
        'Life & Death, Time & Space',
        '90cm x 180cm',
        'assets/images/Painting/Allotment/Life_&_Death_Time_&_Space_Diptych_90x180.jpg',
        'assets/images/Painting/Allotment/Life_&_Death_Time_&_Space_Diptych_90x180-thumb.jpg',
        'Two-panel oil painting of the artist and family in allotment'
        ) }}

      </div><!-- .row__coltouching -->

    </div><!-- .row .row--pad -->

  </main><!-- .allotment -->

{% endblock %}

{% block js %}
<!--build:js js/da.fancybox.min.js -->
<script src="js/lib/jquery.fancybox.js"></script>
<script src="js/daFancybox.js"></script>
<!-- endbuild -->
{% endblock %}