{% set body_id = "contact" %}
{% extends "layout.njk" %}

{% block content %}

  <main class="contact">

    <div class="row row--pad">

      <div class="estate">
        <img src="assets/images/Hoskings.jpg" alt="">
        <p>John's family are happy to hear from you if you have any enquiries about his work.<br>Go ahead and send us a message:</p>
      </div>

    </div><!-- .row .row--pad -->

    <div class="row row--pad">

      <form class="contact-form" name="contact" method="POST" netlify-honeypot="bot-field" netlify>
        <p class="hidden">
          <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <p>
          <label>Your Name: <input type="text" name="name" required/></label>   
        </p>
        <p>
          <label>Your Email: <input type="email" name="email" required/></label>
        </p>
        <p>
          <label>Message: <textarea name="message" rows="10" required></textarea></label>
        </p>
        <div data-netlify-recaptcha></div>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>

    </div><!-- .row .row--pad -->

  </main>

{% endblock %}