{% set body_id = "etching" %}
{% set body_class = "gallery-page painting-childpage" %}
{% extends "layout.njk" %}

{% from "macros/_artwork-macro.njk" import artwork %}
{% from "macros/_header-macro.njk" import title %}

{% block content %}

  {{ title (
  page_title= 'Etching'
  ) }}

  <main class="etching">

    <div class="row row--pad">

      <div class="row__coltouching">

        {{ artwork (
        artwork_title= 'Contradiction of War',
        path_to_image= 'assets/images/Printmaking/Etching/Contradiction_of_war.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Contradiction_of_war-thumb.jpg',
        alt= 'large complex etching with collage-like composition including troops, crosses, mushroom cloud'
        ) }}

        {{ artwork (
        artwork_title= 'Wave',
        artwork_info= '1977',
        path_to_image= 'assets/images/Printmaking/Etching/Wave_1977.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Wave_1977-thumb.jpg',
        alt= 'etching of a wave from perspective of looking down the barrel of water'
        ) }}

        {{ artwork (
        artwork_title= 'Wave+',
        path_to_image= 'assets/images/Printmaking/Etching/Wave+.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Wave+-thumb.jpg',
        alt= 'etching of a wave'
        ) }}

        {{ artwork (
        artwork_title= 'Erosion I',
        path_to_image= 'assets/images/Printmaking/Etching/Erosion_I.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Erosion_I-thumb.jpg',
        alt= 'etching of derelict brick structures'
        ) }}

        {{ artwork (
        artwork_title= 'Erosion III',
        path_to_image= 'assets/images/Printmaking/Etching/Erosion_II.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Erosion_II-thumb.jpg',
        alt= 'etching of derelict martello tower'
        ) }}

        {{ artwork (
        artwork_title= 'Erosion III',
        path_to_image= 'assets/images/Printmaking/Etching/Erosion_III.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Erosion_III-thumb.jpg',
        alt= 'etching of derelict brick wall'
        ) }}

        {{ artwork (
        artwork_title= 'China I',
        artwork_info= '1981',
        path_to_image= 'assets/images/Printmaking/Etching/China_1_1981.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/China_1_1981-thumb.jpg',
        alt= 'etching of a woman standing beside railroad tracks'
        ) }}

        {{ artwork (
        artwork_title= 'China II',
        artwork_info= '1981',
        path_to_image= 'assets/images/Printmaking/Etching/China_2.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/China_2-thumb.jpg',
        alt= 'etching of a man walking beside railroad tracks'
        ) }}

        {{ artwork (
        artwork_title= 'China III',
        artwork_info= '1981',
        path_to_image= 'assets/images/Printmaking/Etching/China_3.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/China_3-thumb.jpg',
        alt= 'etching of a woman standing beside railroad tracks'
        ) }}

        {{ artwork (
        artwork_title= 'Dole Queue',
        path_to_image= 'assets/images/Printmaking/Etching/Dole_queue.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Dole_queue-thumb.jpg',
        alt= 'wide panoramic format etching of queuing figures'
        ) }}

        {{ artwork (
        artwork_title= 'Queuing',
        artwork_info= '1981',
        path_to_image= 'assets/images/Printmaking/Etching/Queuing_1981.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Queuing_1981-thumb.jpg',
        alt= 'expressive panoramic etching of queuing figures'
        ) }}

        {{ artwork (
        artwork_title= 'Viaduct',
        path_to_image= 'assets/images/Printmaking/Etching/Viaduct.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Viaduct-thumb.jpg',
        alt= 'etching of Folkestones brick viaduct'
        ) }}

        {{ artwork (
        artwork_title= 'East Cliff',
        path_to_image= 'assets/images/Printmaking/Etching/East_Cliff_Etching.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/East_Cliff_Etching-thumb.jpg',
        alt= 'etching of figures on a bench'
        ) }}

        {{ artwork (
        artwork_title= 'Rainbow',
        path_to_image= 'assets/images/Printmaking/Etching/Rainbow.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Rainbow-thumb.jpg',
        alt= 'etching of rainbow on beach with figures'
        ) }}

        {{ artwork (
        artwork_title= 'Le Pont du Diablo',
        path_to_image= 'assets/images/Printmaking/Etching/Le_Pont_du_Diablo.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Le_Pont_du_Diablo-thumb.jpg',
        alt= 'etching of bridge over a river with bathing figures in foreground'
        ) }}

        {{ artwork (
        artwork_title= 'Salute Steps',
        artwork_info= '1991',
        path_to_image= 'assets/images/Printmaking/Etching/Salute_Steps_Venice_1991.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Salute_Steps_Venice_1991-thumb.jpg',
        alt= 'etching of Venice architecture'
        ) }}

        {{ artwork (
        artwork_title= 'Venice',
        artwork_info= '1991',
        path_to_image= 'assets/images/Printmaking/Etching/Venice_1991.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Venice_1991-thumb.jpg',
        alt= 'etching of Venice architecture and waterway'
        ) }}

        {{ artwork (
        artwork_title= 'Callanish Stones',
        path_to_image= 'assets/images/Printmaking/Etching/Callanish_Stones.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Callanish_Stones-thumb.jpg',
        alt= 'etching of stones in a landscape'
        ) }}

        {{ artwork (
        artwork_title= 'Paddy Field',
        artwork_info= '1981',
        path_to_image= 'assets/images/Printmaking/Etching/Paddy_field_1981.jpg',
        path_to_thumb= 'assets/images/Printmaking/Etching/Paddy_field_1981-thumb.jpg',
        alt= 'etching of figure in Chinese conical farming hat driving livestock'
        ) }}

      </div><!-- .row__coltouching -->

    </div><!-- .row .row--pad -->

  </main><!-- .etching -->

{% endblock %}

{% block js %}
{% endblock %}