{% set body_id = "home" %}
{% extends "layout.njk" %}

{% from "macros/_header-macro.njk" import title %}

{% block content %}

  {{ title (
  page_title= 'John Hosking'
  ) }}

  <main class="painting">

    <div class="row row--pad">

      <div class="row__coltouching">

        <div class="span4-2">
          <figure>
              <img src="assets/images/dummy_paintings/abstract1.jpg" alt="allotment 1">
          </figure>
        </div>

        <div class="span4-2">
          <figure>
              <img src="assets/images/dummy_paintings/abstract2.jpg" alt="allotment 2">
          </figure>
        </div>

      </div><!-- .row__coltouching -->

    </div><!-- .row .row--pad -->

  </main><!-- .painting -->

{% endblock %}

{% block js %}
<!--build:js js/da.fancybox.min.js -->
<script src="js/lib/jquery.fancybox.js"></script>
<script src="js/daFancybox.js"></script>
<!-- endbuild -->
{% endblock %}