{% set body_id = "linocut" %}
{% set body_class = "gallery-page painting-childpage" %}

{% block meta %}
    <title>John Hosking | Linocut - prints by artist John Hosking</title>
    <meta name="title" content="John Hosking | Linocut - prints by artist John Hosking">
    <meta name="description" content="This is a selection of linocut prints, including a series of churches in the Romney Marsh area">
{% endblock %}

{% extends "layout.njk" %}

{% from "macros/_artwork-macro.njk" import artwork %}
{% from "macros/_header-macro.njk" import title %}

{% block content %}

  {{ title (
  page_title= 'Linocut'
  ) }}

  <main class="linocut">

    <div class="row row--pad">

      <div class="row__coltouching">

        {{ artwork (
        artwork_title= 'All Saints Burmarsh',
        path_to_image= 'assets/images/Printmaking/Linocuts/All_Saints_Burmarsh-z.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/All_Saints_Burmarsh-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'Fairfield St Thomas Becket',
        path_to_image= 'assets/images/Printmaking/Linocuts/Fairfield_St_Thomas_Becket.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Fairfield_St_Thomas_Becket-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'Lydd All Saints',
        path_to_image= 'assets/images/Printmaking/Linocuts/Fairfield_St_Thomas_Becket.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Fairfield_St_Thomas_Becket-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'St Augustine Brookland',
        path_to_image= 'assets/images/Printmaking/Linocuts/St_Augustine_Brookland.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/St_Augustine_Brookland-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'St Augustine Snave',
        path_to_image= 'assets/images/Printmaking/Linocuts/St_Augustine_Snave.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/St_Augustine_Snave-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'St Clements Old Romney',
        path_to_image= 'assets/images/Printmaking/Linocuts/St_Clements_Old_Romney.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/St_Clements_Old_Romney-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'St Dunstan Snargate',
        path_to_image= 'assets/images/Printmaking/Linocuts/St_Dunstan_Snargate.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/St_Dunstan_Snargate-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'St Eanswyths Brenzett',
        path_to_image= 'assets/images/Printmaking/Linocuts/St_Eanswyths_Church_Brenzett.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/St_Eanswyths_Church_Brenzett-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'St Georges Ivychurch',
        path_to_image= 'assets/images/Printmaking/Linocuts/St_Georges_Ivychurch.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/St_Georges_Ivychurch-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'St Mary East Guldeford',
        path_to_image= 'assets/images/Printmaking/Linocuts/St_Mary_East_Guldeford.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/St_Mary_East_Guldeford-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'St Mary the Virgin St Mary in the Marsh',
        path_to_image= 'assets/images/Printmaking/Linocuts/St_Mary_the_Virgin_St_Mary_in_the_Marsh.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/St_Mary_the_Virgin_St_Mary_in_the_Marsh-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'St Nicolas New Romney',
        path_to_image= 'assets/images/Printmaking/Linocuts/St_Nicolas_New_Romney.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/St_Nicolas_New_Romney-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'St Peter & St Paul Dymchurch',
        path_to_image= 'assets/images/Printmaking/Linocuts/St_Peter_&_St_Paul_Dymchurch.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/St_Peter_&_St_Paul_Dymchurch-thumb.jpg',
        alt= 'linocut of a church in Romney Marsh area'
        ) }}

        {{ artwork (
        artwork_title= 'Seawall I',
        artwork_info= '25cm x 17cm',
        path_to_image= 'assets/images/Printmaking/Linocuts/Seawall_1_25x17.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Seawall_1_25x17-thumb.jpg',
        alt= 'striking graphic linocut of sea defenses at Sandgate'
        ) }}

        {{ artwork (
        artwork_title= 'Seawall III',
        artwork_info= '25cm x 17cm',
        path_to_image= 'assets/images/Printmaking/Linocuts/Seawall_3_25x17.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Seawall_3_25x17-thumb.jpg',
        alt= 'striking graphic linocut of sea defenses at Sandgate'
        ) }}

        {{ artwork (
        artwork_title= 'Seawall IV',
        artwork_info= '25cm x 17cm',
        path_to_image= 'assets/images/Printmaking/Linocuts/Seawall_4_25x17.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Seawall_4_25x17-thumb.jpg',
        alt= 'striking graphic linocut of sea defenses at Sandgate'
        ) }}

        {{ artwork (
        artwork_title= 'Seawall V',
        artwork_info= '25cm x 17cm',
        path_to_image= 'assets/images/Printmaking/Linocuts/Seawall_5_25x17.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Seawall_5_25x17-thumb.jpg',
        alt= 'striking graphic linocut of sea defenses at Sandgate'
        ) }}

        {{ artwork (
        artwork_title= 'Sandgate Beach',
        artwork_info= '20cm x 30cm',
        path_to_image= 'assets/images/Printmaking/Linocuts/Sandgate_Beach_Linocut_20x30.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Sandgate_Beach_Linocut_20x30-thumb.jpg',
        alt= 'linocut looking down Sandgate beach crossed with many wooden groynes'
        ) }}

        {{ artwork (
        artwork_title= 'Martello Towers',
        artwork_info= '30cm x 20cm',
        path_to_image= 'assets/images/Printmaking/Linocuts/Martello_Towers_30x20.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Martello_Towers_30x20-thumb.jpg',
        alt= 'linocut of Martello Towers adjacent to beach with small fishing boat'
        ) }}

        {{ artwork (
        artwork_title= 'Seawall II',
        artwork_info= '30cm x 20cm',
        path_to_image= 'assets/images/Printmaking/Linocuts/Seawall_2_30x20.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Seawall_2_30x20-thumb.jpg',
        alt= 'colourful linocut of sea defenses at Sandgate'
        ) }}

        {{ artwork (
        artwork_title= 'Sandgate',
        artwork_info= '30cm x 20cm',
        path_to_image= 'assets/images/Printmaking/Linocuts/Sandgate_30x20.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Sandgate_30x20-thumb.jpg',
        alt= 'colourful linocut looking down Sandgate beach to the East'
        ) }}

        {{ artwork (
        artwork_title= 'Channel Coast',
        artwork_info= '30cm x 20cm',
        path_to_image= 'assets/images/Printmaking/Linocuts/Channel_Coast_30x20.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Channel_Coast_30x20-thumb.jpg',
        alt= 'colourful linocut of Kent coastline'
        ) }}

        {{ artwork (
        artwork_title= 'Juggler',
        path_to_image= 'assets/images/Printmaking/Linocuts/Juggler.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Juggler-thumb.jpg',
        alt= 'colourful linocut of man juggling five blue balls on beach'
        ) }}
        
        {{ artwork (
        artwork_title= 'Customs House Venice',
        artwork_info= '1991',
        path_to_image= 'assets/images/Printmaking/Linocuts/Customs_House_Venice_1991.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Customs_House_Venice_1991-thumb.jpg',
        alt= 'linocut of a Venice gondolas moored with customs house in background'
        ) }}

        {{ artwork (
        artwork_title= 'Venezia',
        artwork_info= '1991',
        path_to_image= 'assets/images/Printmaking/Linocuts/Venezia_1991.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Venezia_1991-thumb.jpg',
        alt= 'linocut of a face with text'
        ) }}

        {{ artwork (
        artwork_title= 'Venice',
        artwork_info= '1991',
        path_to_image= 'assets/images/Printmaking/Linocuts/Venice_1991.jpg',
        path_to_thumb= 'assets/images/Printmaking/Linocuts/Venice_1991-thumb.jpg',
        alt= 'linocut of a Venice gondola on a waterway with bridge behind'
        ) }}

        

      </div><!-- .row__coltouching -->

    </div><!-- .row .row--pad -->

  </main><!-- .linocut -->

{% endblock %}

{% block js %}
{% endblock %}