{% set body_id = "martello" %}
{% set body_class = "gallery-page painting-childpage" %}
{% extends "layout.njk" %}

{% from "macros/_artwork-macro.njk" import artwork %}
{% from "macros/_header-macro.njk" import title %}

{% block content %}

  {{ title (
  page_title= 'Martello Towers'
  ) }}

  <main class="martello">

    <div class="row row--pad">

      <div class="row__coltouching">

        {{ artwork (
        artwork_title= 'Martello Tower on the Leas',
        artwork_info= '1997 - Oil and Encaustic - 90cm x 90cm',
        path_to_image= 'assets/images/Painting/Martello/Martello_Tower_on_the_Leas_1997_Oil_and_Encaustic_90x90.jpg',
        path_to_thumb= 'assets/images/Painting/Martello/Martello_Tower_on_the_Leas_1997_Oil_and_Encaustic_90x90-thumb.jpg',
        alt= 'colourful painting of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= 'Martello Tower with Red Wave',
        artwork_info= '1997 - Oil and Encaustic - 90cm x 90cm',
        path_to_image= 'assets/images/Painting/Martello/Martello_Tower_with_Red_Wave_1997_Oil_and_Encaustic_90x90.jpg',
        path_to_thumb= 'assets/images/Painting/Martello/Martello_Tower_with_Red_Wave_1997_Oil_and_Encaustic_90x90-thumb.jpg',
        alt= 'colourful painting of Martello Tower surrounded by bright illustrative border'
        ) }}

        {{ artwork (
        artwork_title= 'Martello Tower with Tide Times',
        artwork_info= '1997 - Oil and Encaustic - 90cm x 90cm',
        path_to_image= 'assets/images/Painting/Martello/Martello_Tower_with_Tide_Times_1997_Oil_and_Encaustic_90x90.jpg',
        path_to_thumb= 'assets/images/Painting/Martello/Martello_Tower_with_Tide_Times_1997_Oil_and_Encaustic_90x90-thumb.jpg',
        alt= 'colourful painting of Martello Tower surrounded by border of printed tide times'
        ) }}

        {{ artwork (
        artwork_title= 'Martello Tower with White Wave',
        artwork_info= '1997 - Oil and Encaustic - 90cm x 90cm',
        path_to_image= 'assets/images/Painting/Martello/Martello_Tower_with_White_Wave_1997_Oil_and_Encaustic_90x90.jpg',
        path_to_thumb= 'assets/images/Painting/Martello/Martello_Tower_with_White_Wave_1997_Oil_and_Encaustic_90x90-thumb.jpg',
        alt= 'colourful painting of Martello Tower surrounded by bright illustrative border'
        ) }}

        {{ artwork (
        artwork_title= 'Martello Tower Dymchurch',
        artwork_info= '1997 - Oil and Encaustic - 90cm x 90cm',
        path_to_image= 'assets/images/Painting/Martello/Martello_Tower_Dymchurch_1997_Oil_and_Encaustic_90x90.jpg',
        path_to_thumb= 'assets/images/Painting/Martello/Martello_Tower_Dymchurch_1997_Oil_and_Encaustic_90x90-thumb.jpg',
        alt= 'colourful painting of Martello Tower surrounded by bright illustrative border'
        ) }}

        {{ artwork (
        artwork_title= 'Martello',
        artwork_info= '50cm x 70cm',
        path_to_image= 'assets/images/Painting/Martello/Martello_50x70.jpg',
        path_to_thumb= 'assets/images/Painting/Martello/Martello_50x70-thumb.jpg',
        alt= 'brightly coloured painting of a Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= 'Martello Tower in the Woods',
        artwork_info= '50cm x 70cm',
        path_to_image= 'assets/images/Painting/Martello/Martello_Tower_in_the_Woods_50x70.jpg',
        path_to_thumb= 'assets/images/Painting/Martello/Martello_Tower_in_the_Woods_50x70-thumb.jpg',
        alt= 'colourful painting of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= 'Apron',
        path_to_image= 'assets/images/Painting/Martello/Apron.jpg',
        path_to_thumb= 'assets/images/Painting/Martello/Apron-thumb.jpg',
        alt= 'painting of Sandgate sea wall surrounded by smaller studies of Martello towers'
        ) }}

        {{ artwork (
        artwork_title= 'Promenade around a Martello Tower',
        artwork_info= '1997 - Oil and Encaustic - 90cm x 90cm',
        path_to_image= 'assets/images/Painting/Martello/Promenade_around_a_Martello_Tower_1997_Oil_and_Encaustic_90x90.jpg',
        path_to_thumb= 'assets/images/Painting/Martello/Promenade_around_a_Martello_Tower_1997_Oil_and_Encaustic_90x90-thumb.jpg',
        alt= 'painting of Martello Tower surrounded by illustrations in the style of Eadweard Muybridge of a man walking'
        ) }}

        {{ artwork (
        artwork_title= 'Martello',
        path_to_image= 'assets/images/Painting/Martello/Martello.jpg',
        path_to_thumb= 'assets/images/Painting/Martello/Martello-thumb.jpg',
        alt= 'brightly coloured painting of a Martello Tower on a circular board'
        ) }}

        {{ artwork (
        artwork_title= 'Martello Tower on the Leas',
        artwork_info= '20cm x 23cm',
        path_to_image= 'assets/images/Painting/Martello/Martello_Tower_on_the_Leas_20x23.jpg',
        path_to_thumb= 'assets/images/Painting/Martello/Martello_Tower_on_the_Leas_20x23-thumb.jpg',
        alt= 'painting of view along the Leas to the Martello Tower at its far west end'
        ) }}

        {{ artwork (
        artwork_title= 'Martello Towers',
        artwork_info= '1993 - 50cm x 70cm',
        path_to_image= 'assets/images/Painting/Martello/Martello_Towers_1993_23x25.jpg',
        path_to_thumb= 'assets/images/Painting/Martello/Martello_Towers_1993_23x25-thumb.jpg',
        alt= 'painting of two Martello Towers lining the coastline'
        ) }}

      </div><!-- .row__coltouching -->

    </div><!-- .row .row--pad -->

  </main><!-- .martello -->

{% endblock %}

{% block js %}
<!--build:js js/da.fancybox.min.js -->
<script src="js/lib/jquery.fancybox.js"></script>
<script src="js/daFancybox.js"></script>
<!-- endbuild -->
{% endblock %}