{% set body_id = "misc" %}
{% set body_class = "gallery-page painting-childpage" %}

{% block meta %}
    <title>John Hosking | Misc - selection of disparate paintings</title>
    <meta name="title" content="John Hosking | Misc - selection of disparate paintings">
    <meta name="description" content="This is a selection of work in different styles, in different mediums, with varying subject matter, spanning many decades">
{% endblock %}

{% extends "layout.njk" %}

{% from "macros/_artwork-macro.njk" import artwork %}
{% from "macros/_header-macro.njk" import title %}

{% block content %}

  {{ title (
  page_title= 'Misc'
  ) }}

  <main class="misc">

    <div class="row row--pad">

      <div class="row__coltouching">

        {{ artwork (
        artwork_title= 'Asylum Garden with Bees',
        artwork_info= '61cm x 71cm',
        path_to_image= 'assets/images/Painting/Misc/Asylum_Garden_with_Bees_61x71.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Asylum_Garden_with_Bees_61x71-thumb.jpg',
        alt= 'colourful expressive painting of garden plants with bees'
        ) }}

        {{ artwork (
        artwork_title= 'Bee',
        artwork_info= '40cm x 40cm',
        path_to_image= 'assets/images/Painting/Misc/Bee_40x40.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Bee_40x40-thumb.jpg',
        alt= 'closeup painting of a bee'
        ) }}

        {{ artwork (
        artwork_title= 'Juggler on the Beach',
        path_to_image= 'assets/images/Painting/Misc/Juggler_on_the_Beach.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Juggler_on_the_Beach-thumb.jpg',
        alt= 'painting of figure juggling colourful balls seen from behind with seagulls wheeling above'
        ) }}

        {{ artwork (
        artwork_title= 'Cars detail 1',
        path_to_image= 'assets/images/Painting/Misc/Cars_detail_1.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Cars_detail_1-thumb.jpg',
        alt= 'left hand panel depicting a white car on road with fields in background'
        ) }}

        {{ artwork (
        artwork_title= 'Cars detail 2',
        path_to_image= 'assets/images/Painting/Misc/Cars_detail_2.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Cars_detail_2-thumb.jpg',
        alt= 'right hand panel depicting yellow and red cars on road with fields in background'
        ) }}

        {{ artwork (
        artwork_title= 'Cars triptych',
        path_to_image= 'assets/images/Painting/Misc/Cars_triptych.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Cars_triptych-thumb.jpg',
        alt= 'three panel painting cars on road with fields and pylons in background'
        ) }}

        {{ artwork (
        artwork_title= 'CND Peace',
        path_to_image= 'assets/images/Painting/Misc/CND_Peace.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/CND_Peace-thumb.jpg',
        alt= 'still life painting including CND symbol'
        ) }}

        {{ artwork (
        artwork_title= 'Flowers from Amsterdam',
        artwork_info= '178cm x 132cm',
        path_to_image= 'assets/images/Painting/Misc/Flowers_from_Amsterdam_1_178x132.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Flowers_from_Amsterdam_1_178x132-thumb.jpg',
        alt= 'painting of naked woman standing holding roses in front of a statue on a high street'
        ) }}

        {{ artwork (
        artwork_title= 'Flowers from Amsterdam',
        artwork_info= '178cm x 132cm',
        path_to_image= 'assets/images/Painting/Misc/Flowers_from_Amsterdam_2.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Flowers_from_Amsterdam_2-thumb.jpg',
        alt= 'painting of naked woman standing holding roses in front of a statue on a high street'
        ) }}

        {{ artwork (
        artwork_title= 'Graveyard',
        path_to_image= 'assets/images/Painting/Misc/Graveyard.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Graveyard-thumb.jpg',
        alt= 'painting of man in a lush graveyard'
        ) }}

        {{ artwork (
        artwork_title= 'John',
        path_to_image= 'assets/images/Painting/Misc/John_diptych-x.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/John_diptych-thumb.jpg',
        alt= 'the artist photographed standing between two large paintings of a partially demolished house with detritus'
        ) }}

        {{ artwork (
        artwork_title= 'Morning Midday Evening',
        path_to_image= 'assets/images/Painting/Misc/Morning_Midday_Evening.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Morning_Midday_Evening-thumb.jpg',
        alt= 'multipaneled painting of building silhouettes with Pointillist style colourful dabs'
        ) }}

        {{ artwork (
        artwork_title= 'Queue',
        artwork_info= '1982',
        path_to_image= 'assets/images/Painting/Misc/Queue_1982.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Queue_1982-thumb.jpg',
        alt= 'painting of people queuing in drab oppressive paved public space'
        ) }}

        {{ artwork (
        artwork_title= 'Rooftops',
        path_to_image= 'assets/images/Painting/Misc/Rooftops.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Rooftops-thumb.jpg',
        alt= 'painting of rooftops as seen through tree branches giving vignette effect'
        ) }}

        {{ artwork (
        artwork_title= 'Roseberry Park Epsom',
        artwork_info= '1973 - 76cm x 113cm',
        path_to_image= 'assets/images/Painting/Misc/Roseberry_Park_Epsom_1973_1_76x113.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Roseberry_Park_Epsom_1973_1_76x113-thumb.jpg',
        alt= 'painting of figures in park on a background of schematic map diagram'
        ) }}

        {{ artwork (
        artwork_title= 'Roseberry Park Epsom',
        artwork_info= '1973',
        path_to_image= 'assets/images/Painting/Misc/Roseberry_Park_Epsom_1973_2.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Roseberry_Park_Epsom_1973_2-thumb.jpg',
        alt= 'painting of figures in park'
        ) }}

        {{ artwork (
        artwork_title= 'Roseberry Park Epsom',
        artwork_info= '1973',
        path_to_image= 'assets/images/Painting/Misc/Roseberry_Park_Epsom_1973_3.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Roseberry_Park_Epsom_1973_3-thumb.jpg',
        alt= 'painting of aerial view of municipal park with drawing of figures in park superimposed'
        ) }}

        {{ artwork (
        artwork_title= 'Roseberry Park Epsom',
        artwork_info= '1973',
        path_to_image= 'assets/images/Painting/Misc/Roseberry_Park_Epsom_1973_4.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Roseberry_Park_Epsom_1973_4-thumb.jpg',
        alt= 'painting with central oval shape section of woman with trees behind'
        ) }}

        {{ artwork (
        artwork_title= 'Roseberry Park Epsom',
        artwork_info= '1973',
        path_to_image= 'assets/images/Painting/Misc/Roseberry_Park_Epsom_1973.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Roseberry_Park_Epsom_1973-thumb.jpg',
        alt= 'triptych painting with views of a woman in a large green park space'
        ) }}

        {{ artwork (
        artwork_title= 'Sky triptych',
        path_to_image= 'assets/images/Painting/Misc/Sky_Triptych.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Sky_Triptych-thumb.jpg',
        alt= 'triptych painting of skies with horizon just visible'
        ) }}

        {{ artwork (
        artwork_title= 'The Witchball',
        path_to_image= 'assets/images/Painting/Misc/The_Witchball.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/The_Witchball-thumb.jpg',
        alt= 'bright colourful painting of man photographing himself in ditorted reflection with chess board'
        ) }}

        {{ artwork (
        artwork_title= 'untitled',
        path_to_image= 'assets/images/Painting/Misc/untitled.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/untitled-thumb.jpg',
        alt= 'painting depicting woman standing in reeds beside waterway with playful patterned border'
        ) }}

        {{ artwork (
        artwork_title= 'Yellow',
        path_to_image= 'assets/images/Painting/Misc/Yellow.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Yellow-thumb.jpg',
        alt= 'painting in yellows depicting guitar, small statue of nude woman, frock, globes, drapery'
        ) }}

        {{ artwork (
        artwork_title= 'Blue',
        path_to_image= 'assets/images/Painting/Misc/Blue.jpg',
        path_to_thumb= 'assets/images/Painting/Misc/Blue-thumb.jpg',
        alt= 'tall narrow painting in blue shades of still life including dolls and flowers'
        ) }}

      </div><!-- .row__coltouching -->

    </div><!-- .row .row--pad -->

  </main><!-- .misc -->

{% endblock %}

{% block js %}
{% endblock %}