{% set body_id = "monoprint" %}
{% set body_class = "gallery-page painting-childpage" %}

{% block meta %}
    <title>John Hosking | Monoprint - prints by artist John Hosking</title>
    <meta name="title" content="John Hosking | Monoprint - prints by artist John Hosking">
    <meta name="description" content="This is a selection of colourful monoprints, prominently featuring Martello Towers">
{% endblock %}

{% extends "layout.njk" %}

{% from "macros/_artwork-macro.njk" import artwork %}
{% from "macros/_header-macro.njk" import title %}

{% block content %}

  {{ title (
  page_title= 'Monoprint'
  ) }}

  <main class="monoprint">

    <div class="row row--pad">

      <div class="row__coltouching">

        {{ artwork (
        artwork_title= 'Ballowal Barrow',
        artwork_info= '60cm x 100cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/Ballowal_Barrow_60x100.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Ballowal_Barrow_60x100-thumb.jpg',
        alt= 'colourful monoprint of rocky hillside'
        ) }}

        {{ artwork (
        artwork_title= 'Beach Martello',
        artwork_info= '100cm x 100cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/Beach_Martello_100x100.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Beach_Martello_100x100-thumb.jpg',
        alt= 'colourful monoprint of fragmented Martello Tower walls'
        ) }}

        {{ artwork (
        artwork_title= 'Carn Gloose',
        artwork_info= '60cm x 100cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/Carn_Gloose_60x100.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Carn_Gloose_60x100-thumb.jpg',
        alt= 'colourful monoprint of landscape'
        ) }}

        {{ artwork (
        artwork_title= 'Cliff',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/Cliff_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Cliff_15x15-thumb.jpg',
        alt= 'colourful monoprint of cliff and sea'
        ) }}

        {{ artwork (
        artwork_title= 'Coast',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/Coast_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Coast_15x15-thumb.jpg',
        alt= 'colourful monoprint of dramatic cliff formation'
        ) }}

        {{ artwork (
        artwork_title= 'Dusk Cliff',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/Dusk_Cliff_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Dusk_Cliff_15x15-thumb.jpg',
        alt= 'colourful monoprint of cliff and sea'
        ) }}

        {{ artwork (
        artwork_title= 'Fishing',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/Fishing_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Fishing_15x15-thumb.jpg',
        alt= 'monoprint from point of view of fisherman with another figure standing by with net'
        ) }}

        {{ artwork (
        artwork_title= 'Fishing',
        path_to_image= 'assets/images/Printmaking/Monoprints/Fishing.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Fishing-thumb.jpg',
        alt= 'multi-paneled monoprint of figures fishing'
        ) }}

        {{ artwork (
        artwork_title= 'Beach Scene I',
        path_to_image= 'assets/images/Printmaking/Monoprints/Large_Beach_Scene_1.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Large_Beach_Scene_1-thumb.jpg',
        alt= 'vibrant bold monoprint of beach and sea wall'
        ) }}

        {{ artwork (
        artwork_title= 'Beach Scene II',
        path_to_image= 'assets/images/Printmaking/Monoprints/Large_Beach_Scene_2.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Large_Beach_Scene_2-thumb.jpg',
        alt= 'vibrant bold monoprint of beach and sea wall'
        ) }}

        {{ artwork (
        artwork_title= 'Beach Scene III',
        path_to_image= 'assets/images/Printmaking/Monoprints/Large_Beach_Scene_3.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Large_Beach_Scene_3-thumb.jpg',
        alt= 'vibrant bold monoprint of beach and sea wall'
        ) }}

        {{ artwork (
        artwork_title= 'Deconstructed Martello',
        artwork_info= '45cm x 110cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/Large_Deconstructed_Martello_45x110.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Large_Deconstructed_Martello_45x110-thumb.jpg',
        alt= 'monoprint of derelict Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= 'Martello Moat',
        artwork_info= '45cm x 110cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/Large_Martello_Moat_45x110.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Large_Martello_Moat_45x110-thumb.jpg',
        alt= 'monoprint of Martello Tower with moat'
        ) }}

        {{ artwork (
        artwork_title= 'Martello Tower',
        artwork_info= '100cm x 100cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/Martello_Tower_100x100.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Martello_Tower_100x100-thumb.jpg',
        alt= 'monoprint of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= '#2 Martello One',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_2_Martello_one_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_2_Martello_one_15x15-thumb.jpg',
        alt= 'brightly coloured monoprint of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= '#3 Martello Two',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_3_Martello_two_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_3_Martello_two_15x15-thumb.jpg',
        alt= 'brightly coloured monoprint of Martello Tower behind a fence'
        ) }}

        {{ artwork (
        artwork_title= '#5 Martello Three',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_5_Martello_three_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_5_Martello_three_15x15-thumb.jpg',
        alt= 'brightly coloured monoprint of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= '#6 Martello Four',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_6_Martello_four_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_6_Martello_four_15x15-thumb.jpg',
        alt= 'monoprint of Martello Tower covered in foliage'
        ) }}

        {{ artwork (
        artwork_title= '#8 Martello Five',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_8_Martello_five_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_8_Martello_five_15x15-thumb.jpg',
        alt= 'monoprint of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= '#9 Martello Six',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_9_Martello_six_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_9_Martello_six_15x15-thumb.jpg',
        alt= 'monoprint of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= '#11 Martello Seven',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_11_Martello_seven_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_11_Martello_seven_15x15-thumb.jpg',
        alt= 'brightly coloured monoprint of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= '#12 Martello Eight',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_12_Martello_eight_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_12_Martello_eight_15x15-thumb.jpg',
        alt= 'monoprint of Martello Tower with windows around the top'
        ) }}

        {{ artwork (
        artwork_title= '#14 Martello Nine',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_14_Martello_nine_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_14_Martello_nine_15x15-thumb.jpg',
        alt= 'brightly coloured monoprint of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= '#15 Martello Towers 11, 12, 13',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_15_Martello_Towers_11_12_13_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_15_Martello_Towers_11_12_13_15x15-thumb.jpg',
        alt= 'monoprint of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= '#17 Martello Ten',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_17_Martello_ten_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_17_Martello_ten_15x15-thumb.jpg',
        alt= 'monoprint of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= '#18 Martello Eleven',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_18_Martello_eleven_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_18_Martello_eleven_15x15-thumb.jpg',
        alt= 'brightly coloured monoprint of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= '#20 Martello Twelve',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_20_Martello_twelve_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_20_Martello_twelve_15x15-thumb.jpg',
        alt= 'monoprint of Martello Tower with bold sun rays above'
        ) }}

        {{ artwork (
        artwork_title= '#22 Martello',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_22_Martello_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_22_Martello_15x15-thumb.jpg',
        alt= 'monoprint of Martello Tower with street sign'
        ) }}

        {{ artwork (
        artwork_title= '#24 Martello Fourteen',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/No_24_Martello_fourteen_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/No_24_Martello_fourteen_15x15-thumb.jpg',
        alt= 'monoprint of Martello Tower'
        ) }}

        {{ artwork (
        artwork_title= 'Pendeen Coast',
        artwork_info= '100cm x 60cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/Pendeen_Coast_100x60.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/Pendeen_Coast_100x60-thumb.jpg',
        alt= 'monoprint of derelict church building against bright purple sky'
        ) }}

        {{ artwork (
        artwork_title= 'The Warren',
        artwork_info= '45cm x 110cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/The_Warren_45x110.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/The_Warren_45x110-thumb.jpg',
        alt= 'monoprint of beach with Martello Tower on clifftop and orange sky'
        ) }}

        {{ artwork (
        artwork_title= 'untitled',
        artwork_info= '15cm x 15cm',
        path_to_image= 'assets/images/Printmaking/Monoprints/untitled_15x15.jpg',
        path_to_thumb= 'assets/images/Printmaking/Monoprints/untitled_15x15-thumb.jpg',
        alt= 'red monoprint of Martello Tower with seagulls in flight'
        ) }}

        
      </div><!-- .row__coltouching -->

    </div><!-- .row .row--pad -->

  </main><!-- .monoprint -->

{% endblock %}

{% block js %}
{% endblock %}