{% set body_id = "sandgate" %}
{% set body_class = "gallery-page painting-childpage" %}

{% block meta %}
    <title>John Hosking | Sandgate - paintings of the artist's home town</title>
    <meta name="title" content="John Hosking | Sandgate - paintings of the artist's home town">
    <meta name="description" content="This is a selection of paintings of Sandgate, a small beachside village in Kent">
{% endblock %}

{% extends "layout.njk" %}

{% from "macros/_artwork-macro.njk" import artwork %}
{% from "macros/_header-macro.njk" import title %}

{% block content %}

  {{ title (
  page_title= 'Sandgate'
  ) }}

  <main class="sandgate">

    <div class="row row--pad">

      <div class="row__coltouching">

        {{ artwork (
        artwork_title= 'Sandgate Evening',
        artwork_info= '25cm x 25cm',
        path_to_image= 'assets/images/Painting/Sandgate/Sandgate_Evening_25x25.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Sandgate_Evening_25x25-thumb.jpg',
        alt= 'painting of Sandgate beach'
        ) }}

        {{ artwork (
        artwork_title= 'Sandgate Shingle',
        path_to_image= 'assets/images/Painting/Sandgate/Sandgate_Shingle.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Sandgate_Shingle-thumb.jpg',
        alt= 'painting of Sandgate beach looking west'
        ) }}

        {{ artwork (
        artwork_title= 'Sandgate Sky',
        path_to_image= 'assets/images/Painting/Sandgate/Sandgate_Sky.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Sandgate_Sky-thumb.jpg',
        alt= 'painting of a dramatic brooding sky over Sandgate beach'
        ) }}
        
        {{ artwork (
        artwork_title= 'Seawall and Rocks',
        artwork_info= '1992 - 64cm x 38cm',
        path_to_image= 'assets/images/Painting/Sandgate/Seawall_and_Rocks_1992_64x38.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Seawall_and_Rocks_1992_64x38-thumb.jpg',
        alt= 'painting of Sandgate seawall in blue shades'
        ) }}

        {{ artwork (
        artwork_title= 'Seawall Sandgate',
        artwork_info= '25cm x 25cm',
        path_to_image= 'assets/images/Painting/Sandgate/Seawall_Sandgate_25x25.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Seawall_Sandgate_25x25-thumb.jpg',
        alt= 'painting of Sandgate seawall and sky from below on the beach'
        ) }}

        {{ artwork (
        artwork_title= 'Seawall Sandgate',
        artwork_info= '1991 - 55cm x 28cm',
        path_to_image= 'assets/images/Painting/Sandgate/Seawall_Sandgate_1991_55x28.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Seawall_Sandgate_1991_55x28-thumb.jpg',
        alt= 'painting of Sandgate seawall and sky from below on the beach'
        ) }}

        {{ artwork (
        artwork_title= 'Cross',
        artwork_info= '76cm x 38cm',
        path_to_image= 'assets/images/Painting/Sandgate/Cross_76x38.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Cross_76x38-thumb.jpg',
        alt= 'painting of blue cross painted on a rock in foreground with Sandgate beach coastline stretching behind'
        ) }}

        {{ artwork (
        artwork_title= 'Rocks on the Beach',
        artwork_info= '76cm x 38cm',
        path_to_image= 'assets/images/Painting/Sandgate/Rocks_on_the_Beach_1992_28x28.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Rocks_on_the_Beach_1992_28x28-thumb.jpg',
        alt= 'painting of rocks on Sandgate beach'
        ) }}

        {{ artwork (
        artwork_title= 'Rocks on the Beach',
        path_to_image= 'assets/images/Painting/Sandgate/Rocks_on_the_Beach-opt.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Rocks_on_the_Beach-thumb.jpg',
        alt= 'painting of rocks on Sandgate beach up against the sea wall promenade'
        ) }}

        {{ artwork (
        artwork_title= 'Sandgate',
        artwork_info= '1992',
        path_to_image= 'assets/images/Painting/Sandgate/Sandgate_1992.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Sandgate_1992-thumb.jpg',
        alt= 'triptych painting of a figure walking along Sandgate sea wall from different angles'
        ) }}

        {{ artwork (
        artwork_title= 'Sandgate Beach',
        artwork_info= '25cm x 23cm',
        path_to_image= 'assets/images/Painting/Sandgate/Sandgate_Beach_25x23.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Sandgate_Beach_25x23-thumb.jpg',
        alt= 'painting of Sandgate beach looking west'
        ) }}

        {{ artwork (
        artwork_title= 'Sandgate Beach',
        artwork_info= '25cm x 25cm',
        path_to_image= 'assets/images/Painting/Sandgate/Sandgate_Beach_25x25.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Sandgate_Beach_25x25-thumb.jpg',
        alt= 'painting of Sandgate beach looking east'
        ) }}

        {{ artwork (
        artwork_title= 'Seawall 2',
        artwork_info= '1991 - 55cm x 28cm',
        path_to_image= 'assets/images/Painting/Sandgate/Seawall_2_1991_55x28.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Seawall_2_1991_55x28-thumb.jpg',
        alt= 'painting of Sandgate seawall'
        ) }}

        {{ artwork (
        artwork_title= 'Seawall',
        artwork_info= '1991 - 55cm x 28cm',
        path_to_image= 'assets/images/Painting/Sandgate/Seawall_1991_55x28.jpg',
        path_to_thumb= 'assets/images/Painting/Sandgate/Seawall_1991_55x28-thumb.jpg',
        alt= 'painting of Sandgate seawall'
        ) }}

        

      </div><!-- .row__coltouching -->

    </div><!-- .row .row--pad -->

  </main><!-- .sandgate -->

{% endblock %}

{% block js %}
{% endblock %}