{% macro artwork (artwork_title, artwork_info, path_to_image, path_to_thumb, alt) %}

  <div class="span4-2 span6-2">
    <figure>
      <a data-fancybox="gallery" href="{{ path_to_image }}">
        <figcaption>{{ artwork_title }}</figcaption>
        <img src="{{ path_to_thumb }}" alt="{{ alt }}">
        <p class="image__info">{{ artwork_title }}<br>{{ artwork_info }}</p>
      </a>
    </figure>
  </div>

{% endmacro %}