#biography {
  
  @include mq($bp-menu) {

    .page {
      margin-left: 300px;
    }

    .sidenav {
      margin-left: 0;
    }

    .menu-button {
      display: none;
    }

    .page__header {
      padding-left: $spacing*2;

      @include mq($bp-sidebar) {
        padding-left: $spacing*4;
      }
    }
  }
}

.biography {
  max-width: $bp-l;

  @include mq($bp-menu) {
    padding: 0 $spacing;
  }

  .year {
    float: left;
    width: 100px;
  }

  .items {
    float: left;
    margin-bottom: $spacing/2;
    width: calc(100% - 100px);
  }
}