#contact {
  
  @include mq($bp-menu) {

    .page {
      margin-left: 300px;
    }

    .sidenav {
      margin-left: 0;
    }

    .menu-button {
      display: none;
    }

    .page__header {
      padding-left: $spacing*2;

      @include mq($bp-sidebar) {
        padding-left: $spacing*4;
      }
    }
  }
}

.contact {
  max-width: $bp-l;

  @include mq($bp-menu) {
    padding: 0 $spacing;
  }
    
  .estate {
    text-align: left;
  
    img {
      width: 500px;
      max-width: 100%;
    }
  
    p {
      margin-top: $spacing;
    }
  }
}


