#contact {
  
  @include mq($bp-menu) {

    .page {
      margin-left: 300px;
    }

    .sidenav {
      margin-left: 0;
    }

    .menu-button {
      display: none;
    }

    .page__title {
      display: none;
    }
  }
}

.contact {

  @include mq($bp-menu) {
    padding: 0 $spacing;
  }
    
  .estate {
    text-align: left;
  
    img {
      width: 500px;
      max-width: 100%;
    }
  
    p {
      margin-top: $spacing;
    }
  }
}


