.contact {

  @include mq($bp-menu) {
    padding: 0 $spacing;
  }
    
  .estate {
    text-align: left;
  
    img {
      width: 500px;
      max-width: 100%;
    }
  
    p {
      margin-top: $spacing;
    }
  }
}


