#home {

  img {
    margin-bottom: $spacing;

    @include mq($bp-m) {
      margin-bottom: 0;
    }
  }

  
  @include mq($bp-sidebar) {
    
    main.welcome .row {
      max-width: 1900px;
      margin-right: $spacing*2;
    }

    .page__header .page__title,
    .page__header .birth-death {
      display: none;
    }
  }
}