.page {
  min-height: 100vh;
  margin-left: 0;
  margin-top: $spacing*3;

  @include mq($bp-menu) {
    margin-left: 250px;
  }
}

/* center elements on page */
.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.hidden {
  display: none;
}