<header class="site-header"> 

  <div class="row">
    <h1 class="site-branding">John Hosking</h1>

    <div class="menu-button">
      <i class="burger fas fa-bars"></i>
      <i class="arrow fas fa-arrow-left"></i>
    </div>
    
  </div>

</header>