.sidenav {
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  padding: 1.5em 1em $spacing $spacing;
  position: fixed;
  overflow: scroll;
  top:0;
  left: 0;
  height:100%;
  background-color: $color__canvas-medium;
  margin-left: -300px;
  transition: .3s ease-in;

  &.menushow {
    margin-left: 0;
  }

  @include mq($bp-sidebar) {
    margin-left: 0;
  }
}

.site-branding {
  margin-bottom: 0;
  font-size: 1.5em;

  a {
    color: $color__body;
  }
}

.sidenav nav {
  
  ul {
    list-style: none;
    margin-top: 5em;
    padding: 0;
  }
  
  li {
    padding: .1em 0em;
  }
  
  a {
    color: $color__body;
    text-decoration: none;

    &:hover,
    &:focus {
     text-decoration: underline;
    }
  }

  // submenus
  ul li ul {
    opacity: 0;
    transition: all 0.5s ease;
    margin-top: 1rem;
    display: none;
  }

  ul li ul.active {
    opacity: 1;
    display: block;
  }

  .submenu {
    margin: 1em 0 1em 2em;
  }
}

// active navigation based on current page
body#painting .nav-painting a,
body.painting-childpage .nav-painting > a,
body#printmaking .nav-printmaking a,
body#biography .nav-bio a,
body#contact .nav-contact a { 
  color: $color__action;
}

// copyright and website by
.credits {
  font-size: .9em;

  a {
    color: $color__action;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

/*********************************************************
## menu button
*********************************************************/
.menu-button {
  z-index: 100;
  position: fixed;
  top: 24px;
  right: 24px;
  font-size: 1.5em;
  color: $black;
  
  .arrow {
    display: none;
  }
  
  &.active {
    
    .burger {
      display: none;
    }

    .arrow {
      display: block;
      margin-top: 0.1em;
      font-size: 1.1em;
    }
  }

  @include mq($bp-sidebar) {
    display: none;
  }
}